@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(43, 43, 43);

    font-family: sans-serif;

    padding-top: 95px;
}

header{
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;

    width: 100%;
}

.navbar{
    margin-right: 30px;
}

button{
    background-color: transparent;

    font-size: 20px;

    display: none;
}

header h1{
    color: rgb(73, 223, 35);

    font-family: Bebas Neue;

    margin: 10px;
    margin-left: 35px;
}

.pesquisa{
    border: none;
    border-radius: 10px;

    opacity: 60%;

    padding: 5px;

    background-color: black;

    text-align: center;
    
    width: 50%;

    margin-left: 30px;

    color: whitesmoke;
}

.borderline{
    border: solid 1px;

    opacity: 20%;

    margin: 10px 40%;

    width: 20%;
}

a{
    text-decoration: none;

    color: rgb(102, 236, 49);
}

.ação{
    margin-right: 20px;
}

.ação:hover{
    background-color: rgb(73, 223, 35);
    color: whitesmoke;

    padding: 6px;
    
    border-radius: 10px;
}

.comedia{
    color: rgb(145, 206, 130);;;
}

.comedia:hover{
    background-color: rgb(73, 223, 35);
    color: whitesmoke;

    padding: 6px;
    
    border-radius: 10px;
}

.online{
    margin-left: 10px;
}

.online:hover{
    background-color: rgb(73, 223, 35);
    color: whitesmoke;

    padding: 6px;
    
    border-radius: 10px;
}

.series{
    margin-right: 10px;

    color: rgb(145, 206, 130);;;
}

.series:hover{
    background-color: rgb(73, 223, 35);
    color: whitesmoke;

    padding: 6px;
    
    border-radius: 10px;
}

@media (max-width: 385px){
    .name-logo{
        font-size: 25px;
    }
}

/*começo da main*/

main h1{
    color: whitesmoke;

    font-family: manrope;
    font-weight: 100;

    display: flex;
    justify-content: center;

    font-size: 25px;
}

.capas{
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

/*footer*/

footer{
    background-color: black;

    text-align: center;

    color: whitesmoke;

    font-size: 16px;
}

footer p{
    padding: 10px;

    font-family: manrope;
    font-weight: 100;
}

.Footer-Series{
    position: absolute;
    bottom: 0;

    width: 100%;
}

/*Player area*/

.player{
    margin-right: 30px;

    text-align: center;

    width: 100%;
}

.playergo{
    text-align: center;

    margin: 50px;
}

@media (max-width: 465px){
    .online{
        font-size: 15px;
    }
}

@media (max-width: 691px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-bottom: 10px;
    }

    .navbar{ 

        margin: 0;

        padding-top: 20px;

        text-align: center;

        width: 100%;
    }

    main{
        margin-top: 60px;
    }

}

.space{
    margin-right: 6px;
}

.button-upper {
    background-color: rgb(73, 223, 35);;

    border-radius: 100px;

    width: 62px;
    height: 62px;

    position: fixed;
    right: 20px;
    bottom: 20px;

    cursor: pointer;

    display: none;

    color: white;

    text-align: center;

    padding-top: 20px;
} 